@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
body {
  background: rgb(230, 227, 227) !important ;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.logo img {
  width: 170px;
}

/* BARRA DE MENU */
.menu {
  background: #1c5594;
  width: 350px;
  top: 0px;
  left: -350px;
  height: 100%;
  position: absolute;
  transition: all 0.2s linear;
  z-index: 1;
}
.menu nav a {
  text-decoration: none;
}
.menu nav {
  color: black;
}
#check {
  display: none;
}

label i {
  cursor: pointer;
  padding: 10px;
  position: absolute;
  z-index: 2;
}
.link {
  background: white;
  padding: 18px;
  transition: all 0.2s linear;
  margin: 8px;
}

#check:checked ~ .menu {
  transform: translateX(350px);
}

.link {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  transition: all 0.2s linear;
  color: black;
  text-decoration: none;
}
.link:hover {
  background: rgb(238, 232, 232);
}
nav {
  width: 100%;
  position: absolute;
  top: 60px;
  overflow: hidden;
}
.profileI {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  color: white;
  align-items: center;
}
.profileI section {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  box-shadow: 0 3px 0 0 #f7941e;
  background: #eee8e8;
  margin-bottom: 5px;
}

.profileI input {
  width: 50%;
  justify-content: center;
  background: rgb(238, 232, 232);
  outline: none;
  border: none;
  border-radius: 3em;
  text-align: center;
  height: 30px;
}
.registerMainBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  align-items: center;
}
.registerMainBox .registerSecondaryBox {
  text-align: center;
  font-size: 1.2em;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  background: #d8d8d8;
  border: solid rgb(197, 195, 195) 0.06em;
}
.registerMainBox .registerSecondaryBox .boxBar {
  width: 100%;
  height: 50px;
  background: #f78b1f;
}
.registerMainBox .registerSecondaryBox form {
  align-items: center;
  flex-direction: column;
  display: flex;
  background: rgb(245, 244, 244);
  width: 100%;
  height: 100%;
}
.registerMainBox .registerSecondaryBox form .label input {
  height: 30px;
  width: 300px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border: solid 1px #c1c1c1;
  text-align: center;
}
.registerMainBox .registerSecondaryBox form .label {
  display: flex;
  align-items: center;
  margin: 10px;
  color: rgb(90, 90, 90);
}
.registerMainBox .registerSecondaryBox form .label span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(245, 244, 244);
  padding: 0 0.6rem;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid 1px #c1c1c1;
}

/* Barra de navegação */

/* Search bar */
/* Responsive Queries */

@media screen and (max-width: 768px) {
  .navBar {
    width: 100%;
    height: 4%;
    border-radius: 0;
    margin-top: 0;
  }
  .navBar img {
    width: 30px;
  }
  * {
    overflow: visible;
  }
}

@media screen and (max-width: 425px) {
  .menu {
    width: 100%;
    left: -425px;
  }
  #check:checked ~ .menu {
    transform: translateX(425px);
  }
  * {
    overflow: visible;
  }
}
@media screen and (max-width: 375px) {
  .menu {
    width: 100%;
    left: -400px;
  }
  #check:checked ~ .menu {
    transform: translateX(400px);
  }
  * {
    overflow: visible;
  }
}
