@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
body {
  background: rgb(230, 227, 227) !important ;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.logo img {
  width: 170px;
}

/* BARRA DE MENU */
.menu {
  background: #1c5594;
  width: 350px;
  top: 0px;
  left: -350px;
  height: 100%;
  position: absolute;
  transition: all 0.2s linear;
  z-index: 1;
}
.menu nav a {
  text-decoration: none;
}
.menu nav {
  color: black;
}
#check {
  display: none;
}
label i {
  cursor: pointer;
  padding: 12px;
  position: absolute;
  z-index: 2;
}
.link {
  background: white;
  padding: 18px;
  transition: all 0.2s linear;
  margin: 8px;
}

#check:checked ~ .menu {
  transform: translateX(350px);
}

.link {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  transition: all 0.2s linear;
  color: black;
  text-decoration: none;
}
.link:hover {
  background: rgb(238, 232, 232);
}
nav {
  width: 100%;
  position: absolute;
  top: 60px;
  overflow: hidden;
}
/* Barra de navegação */

/* CORPO */
.conteudo {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.conteudo .card {
  width: 18rem;
  margin: 20px;
  align-items: center;
}
.conteudo .card img {
  width: 99%;
  margin: 2px;
}

/* Search bar */
/* Responsive Queries */
@media screen and (max-width: 768px) {
  .navBar {
    width: 100%;
    height: 4%;
    border-radius: 0;
    margin-top: 0;
  }
  .navBar img {
    width: 30px;
  }
}
@media screen and (max-width: 375px) {
  .menu {
    width: 100%;
    left: -400px;
  }
  #check:checked ~ .menu {
    transform: translateX(400px);
  }
  .login span {
    margin-left: 8px;
  }
  .formLogin form input {
    width: 200px;
  }
  .conteudo {
    flex-direction: column;
  }
  .conteudo .card {
    width: 20rem;
  }
  * {
    overflow: visible;
  }
}
@media screen and (max-width: 425px) {
  .menu {
    width: 100%;
    left: -425px;
  }
  #check:checked ~ .menu {
    transform: translateX(425px);
  }
}
